body{
    background-image: url(https://image.shutterstock.com/image-photo/abstract-white-grey-background-subtle-260nw-1956742048.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
